.custom-shadow {
    box-shadow: 0 4px 8px 0 rgba(238, 238, 238, 0.886);
    padding: 5px;
    background-image: none;
    background-color: #47494a !important;
    /* border-color: aliceblue;
    border-width: 5px; */
}
