<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset=""utf-8 />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/darkly/bootstrap.min.css"
        />
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
            crossorigin="anonymous"
        />



        <title>{% block title %}Home{% endblock %}</title>
    </head>
    <body></body>

        <!--THIS BELOW WORKS!!!!-->
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #87CEEB;">
          <a class="navbar-brand font-weight-bold" href="/">Dorothy Hung</a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbar"
          >
          <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbar">
              <div class="navbar-nav">
                  <a class="nav-item nav-link font-weight-bold" id="home" href="/">About Me</a>
                  <a class="nav-item nav-link font-weight-bold" id="resume" href="/resume">Resume</a>
                  <a class="nav-item nav-link font-weight-bold" id="linkedn" href="/linkedn">Linkedn</a>
                  <a class="nav-item nav-link font-weight-bold" id="github" href="/github">Github</a>
                  <div class="dropdown show">
                    <a class="nav-item nav-link dropdown-toggle font-weight-bolder" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                      Spotify Project
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <a class="dropdown-item" href="/project">Project</a>
                      <a class="dropdown-item" href="/project">Project Code</a>
                    </div>
                  </div>
                </ul>
              </div>
            </div>
        </nav>


        <div class="container" width="100%">
          {% block content %}{% endblock %}
        </div>
        
        
        <script
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"
        ></script>

        


        <!--<link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}">-->
        <link rel="shortcut icon" type="image/x-icon" href="..static/favicon_io/favicon.ico" />


    </body>
</html>
