{% extends "base.html" %}
{% block title %} Certificates {% endblock %}

{% block content %}
</br></br>
<center>
    <h4><center>Professional Certificates</center></h4>
</br>
    <a href="#Cert1">Google Data Analytics</a>
</br></br>
    <a href="#Cert2">Google Finance Data Analytics</a>
</br></br>
    <a href="#Cert3">Data Analysis with R Programming</a>
</br></br>
    <a href="#Cert4">Advanced Google Analytics</a>
</br></br>
    <a href="#Cert5">Google Analytics for Beginners</a>
</br></br>
    <img src="/static/images/Certificate-GDA.png" alt="HTML5 Icon" id="Cert1" style="width:auto;height:auto;">
</br></br>
    <img src="/static/images/Certificate-GDAFinance.png" alt="HTML5 Icon" id="Cert2" style="width:auto;height:auto;">
</br></br>
    <img src="/static/images/Certificate-DAwithR.png" alt="HTML5 Icon" id="Cert3" style="width:auto;height:auto;">
</br></br>
    <img src="/static/images/Certificate-AdvancedGA.png" alt="HTML5 Icon" id="Cert4" style="width:auto;height:auto;">
</br></br>
    <img src="/static/images/Certificate-BeginnerGA.png" alt="HTML5 Icon" id="Cert5" style="width:auto;height:auto;">
</br></br>
</center>
{% endblock %}