{% extends "base.html" %}
{% block title %} Game {% endblock %}


{% block content %}
</br></br>
<center>
<body>
    
    <audio id="soundEfx" preload="auto"></audio>
    <audio id="sound" src="/static/gamefiles/sounds/won.wav" preload="auto"></audio>
    <audio id="soundgamelost" src="/static/gamefiles/sounds/bubbles.wav" preload="auto"></audio>
    <audio id="bgsounds" autoplay loop hidden>
        <source src="/static/gamefiles/sounds/bubbles.wav" type="audio/mpeg">
    </audio>
    <script src="/static/gamefiles/main.js"></script>
    
</body>
</center>
</html>

{% endblock %}