<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game</title>
    
</head>
<body>
    <audio id="soundEfx" preload="auto"></audio>
    <audio id="sound" src="/website/static/sounds/won.wav" preload="auto"></audio>
    <audio id="soundgamelost" src="/website/static/sounds/bubbles.wav" preload="auto"></audio>
    <audio id="bgsounds" autoplay loop hidden>
        <source src="/website/static/sounds/bubbles.wav" type="audio/mpeg">
    </audio>
    <script src="/website/main.js"></script>
</body>
</html>