{% extends "base.html" %} 
{% block title %} Dorothy Hung {% endblock %}

{% block content %}
<br/>
<h3>Dorothy Hung</h3>
</br>


<h4><b>Student at Bellevue College</b></h4>
</br>
<h4><em>
    BAS, Software (App) Development 2025<br>
    AAS, Business Data Analysis 2023
</em></h4>
</br>

</br>
<center><h4><em>Contact me at <a href = "mailto: dorothyh0602@gmail.com">dorothyh0602@gmail.com</a></center>
</em></h4>
</br></br>
<!-- <center><img src="/static/images/me.jpg" alt="picture" style="width:105px; height:140px;"></center> -->
</br></br>




{% endblock %}