{% extends "base.html" %} 
{% block title %} Dorothy Hung: About Me {% endblock %}

{% block content %}
<br/>
<body style=""></body>
<h1>Dorothy Hung</h1>
</br>
<h2><b>Student at Bellevue College</b></h2>
</br>
<h4><em>Motivated Software Development student from Bellevue College with proven problem-solving and organizational skills.
    Completed an Associate's in Business Data Analysis (3.97 GPA) and pursuing a Bachelor's in Software Development (4.0 GPA).
    Actively applying to internships/jobs. 
</em></h4>
</br>
<h3><b>Skills and Abilities</b></h3>
<h5>
    <ul>
        <li>SQL, R, database design, data vizualization and modeling</li>
        <li>Python, Java, C#, HTML</li>
        <li>CS fundamentals, algorithms, software design</li>
        <li>Understand basic statistical analysis, marketing, and accounting</li>
        <li>Have great interpersonal communication skills</li>
    </ul>
</h5>
</br>
<center><h4><em>Contact me at <a href = "mailto: dorothyh0602@gmail.com">dorothyh0602@gmail.com</a></center>
</em></h4>

</br></br>

<center><img src="/static/images/extremeswag.jpg" alt="extremeswag" style="width:200px; height:260px;"></center>


{% endblock %}