{% extends "base.html" %}
{% block title %} Dorothy's Resume {% endblock %}

{% block content %}
    <!--<embed src="../static/files/DorothyHungResume.pdf" style="width: 100%; height:100vh;">-->

    <object data="../static/files/DorothyHungResume.pdf" type="application/pdf" style="width:100%; height:100vh;">
    <p>Your web browser doesn't have a PDF plugin.
    Instead you can <a href="../static/files/DorothyHungResume.pdf">click here to
    download the PDF file.</a></p>
    </object>
{% endblock %}